/* Aptos Regular */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Aptos Italic */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Aptos Light */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Aptos Light Italic */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Aptos SemiBold */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Aptos SemiBold Italic */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-SemiBold-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Aptos Bold */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Aptos Bold Italic */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Aptos ExtraBold */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Aptos ExtraBold Italic */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-ExtraBold-Italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Aptos Black */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Aptos Black Italic */
@font-face {
  font-family: 'Aptos';
  src: url('/fonts/aptos/Aptos-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Aptos Display */
@font-face {
  font-family: 'Aptos Display';
  src: url('/fonts/aptos/Aptos-Display.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Aptos Display Italic */
@font-face {
  font-family: 'Aptos Display';
  src: url('/fonts/aptos/Aptos-Display-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Aptos Display Bold */
@font-face {
  font-family: 'Aptos Display';
  src: url('/fonts/aptos/Aptos-Display-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Aptos Display Bold Italic */
@font-face {
  font-family: 'Aptos Display';
  src: url('/fonts/aptos/Aptos-Display-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Aptos Narrow */
@font-face {
  font-family: 'Aptos Narrow';
  src: url('/fonts/aptos/Aptos-Narrow.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Aptos Narrow Italic */
@font-face {
  font-family: 'Aptos Narrow';
  src: url('/fonts/aptos/Aptos-Narrow-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Aptos Narrow Bold */
@font-face {
  font-family: 'Aptos Narrow';
  src: url('/fonts/aptos/Aptos-Narrow-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Aptos Narrow Bold Italic */
@font-face {
  font-family: 'Aptos Narrow';
  src: url('/fonts/aptos/Aptos-Narrow-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Aptos Mono */
@font-face {
  font-family: 'Aptos Mono';
  src: url('/fonts/aptos/Aptos-Mono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Aptos Mono Italic */
@font-face {
  font-family: 'Aptos Mono';
  src: url('/fonts/aptos/Aptos-Mono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Aptos Mono Bold */
@font-face {
  font-family: 'Aptos Mono';
  src: url('/fonts/aptos/Aptos-Mono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Aptos Mono Bold Italic */
@font-face {
  font-family: 'Aptos Mono';
  src: url('/fonts/aptos/Aptos-Mono-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Aptos Serif */
@font-face {
  font-family: 'Aptos Serif';
  src: url('/fonts/aptos/Aptos-Serif.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Aptos Serif Italic */
@font-face {
  font-family: 'Aptos Serif';
  src: url('/fonts/aptos/Aptos-Serif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Aptos Serif Bold */
@font-face {
  font-family: 'Aptos Serif';
  src: url('/fonts/aptos/Aptos-Serif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Aptos Serif Bold Italic */
@font-face {
  font-family: 'Aptos Serif';
  src: url('/fonts/aptos/Aptos-Serif-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}